<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>台北前端社群</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/admin.css" type="text/css" />
    <%-style%>
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li>
                    <a href="/">回網站</a>        
                </li>
            	<li<%if(menu==="user" ){%> class="active"<%}%>>
            		<a href="/admin/user">權限管理</a>
            	</li>
            	<li<%if(menu==="booklist" ){%> class="active"<%}%>>
            		<a href="/admin/booklist">書單管理</a>
            	</li>
            	<li<%if(menu==="join" ){%> class="active"<%}%>>
            		<a href="/admin/join">活動管理</a>
            	</li>
            </ul>    
        </div>
        <div class="col-md-12">
            <%-body%>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/admin.js"></script>
    <%-script%>
</body>
</html>