<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>台北前端社群</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/admin.css" type="text/css" />
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
            	<li class="active">
            		<a href="javascript:void(0);">權限管理</a>
            	</li>
            	<li>
            		<a href="javascript:void(0);">書單管理</a>
            	</li>
            	<li>
            		<a href="javascript:void(0);">活動管理</a>
            	</li>
            </ul>    
        </div>
        <div class="col-md-12">
            
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/admin.js"></script>
</body>
</html>