<ul class="nav nav-tabs">
	<li class="active">
		<a href="#">資訊</a>
	</li>
	<li>
		<a href="#">書單</a>
	</li>
	<li>
		<a href="#">參加</a>
	</li>
</ul>
<div class="col-md-12">
	<h2>時間</h2>
	<blockquote>
		<p>固定週三晚上7點到9點(依個人時間)</p> 
		<small>確定日期會在網站上公布</small>
	</blockquote>
</div>
<div class="col-md-12">
	<h2>地點</h2>
	<blockquote>
		<p>伯朗咖啡科大店(台北市大安區忠孝東路三段52號)</p> 
		<small>捷運忠孝新生站3號出口(走路3分鐘)</small>
		<small>大門直走到底，右手邊玻璃區內座位</small>
	</blockquote>
</div>
<div class="col-md-12">
	<iframe src="https://www.google.com/maps/embed?pb=!1m22!1m8!1m3!1d1807.382267095061!2d121.53404366729704!3d25.042063773647364!3m2!1i1024!2i768!4f13.1!4m11!3e2!4m3!3m2!1d25.041812099999998!2d121.53356269999999!4m5!1s0x0%3A0x4bb263acc4f6c677!2zTVIuQlJPV07kvK_mnJflkpbllaHppKg!3m2!1d25.0417469!2d121.535305!5e0!3m2!1szh-TW!2stw!4v1468565622081" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="col-md-12">
	<h2>讀書會形式</h2>
	<blockquote>
		<p>
			從書單中選出讀書會討論的書，每本書約一至二個月內讀完(每週讀一至二個章節即可)。<br>
			讀書會分為初學與進階兩種組別：<br>
			<ul>
				<li>初學組：適合完全不會或有一些基礎的人</li>
				<li>進階組：適合有實務經驗且想要更進階深入的人</li>
			</ul>
			兩個組別中各挑選一本書，若在閱讀的過程中不了解或不清楚，可以提出與大家一起討論。
		</p> 
	</blockquote>	
</div>
<div class="col-md-12">
	<h2>注意事項</h2>
	<blockquote>
		<ol>
			<li>沒有包場，所以晚來了可能會沒位置。</li>
			<li>自行攜帶筆電，建議先把電充飽(有插頭的位置不多)。</li>
			<li>店內有低消，可以順便來吃晚餐或是喝咖啡。</li>
			<li>您可以隨時來，也可以隨時離開。</li>
			<li>基本上不會太晚，伯朗咖啡10點打烊。</li>
		</ol>
	</blockquote>
</div>
<div class="col-md-12">
	<h2>你也可以</h2>
	<blockquote>
		<ol>
			<li>來問問題與大家一起討論。</li>
			<li>來展示你的成果或是作品。</li>
			<li>來聊天認識朋友交換名片。</li>
			<li>來聊聊想法或新奇的技術。</li>
		</ol>
	</blockquote>
</div>
