<ul class="nav nav-tabs">
	<li>
		<a href="javascript:void(0);">資訊</a>
	</li>
	<li>
		<a href="javascript:void(0);">書單</a>
	</li>
	<li>
		<a href="javascript:void(0);">活動</a>
	</li>
</ul>
<div class="nav-panel">
	<div class="col-md-12">
		<h2>時間</h2>
		<blockquote>
			<p>固定週三晚上7點到9點(依個人時間)</p> 
			<small>確定日期會在網站上公布</small>
		</blockquote>
	</div>
	<div class="col-md-12">
		<h2>地點</h2>
		<blockquote>
			<p>伯朗咖啡科大店(台北市大安區忠孝東路三段52號)</p> 
			<small>捷運忠孝新生站3號出口(走路3分鐘)</small>
			<small>進入店家大門後直走到底，右手邊玻璃區內的座位</small>
		</blockquote>
	</div>
	<div class="col-md-12 googlemap">
		<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1519.8245607427134!2d121.53356170320505!3d25.04179818972093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x3442a97cf27d107d%3A0x8d0c2d56abf6a120!2z5b-g5a2d5paw55Sf56uZIOWPsOeBow!3m2!1d25.042025199999998!2d121.5326559!4m5!1s0x3442a97d0deab4e7%3A0x4bb263acc4f6c677!2zTVIuQlJPV07kvK_mnJflkpbllaHppKggMTA25Y-w54Gj5Y-w5YyX5biC5aSn5a6J5Y2A5b-g5a2d5p2x6Lev5LiJ5q61NTLomZ8!3m2!1d25.0417469!2d121.535305!5e0!3m2!1szh-TW!2stw!4v1468588495261" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<div class="col-md-12">
		<h2>讀書會形式</h2>
		<blockquote>
			<p>
				從書單中選出讀書會討論的書，每本書約一至二個月內讀完(每週讀一至二個章節即可)。<br>
				讀書會分為初學與進階兩種組別：<br>
				<ul>
					<li>初學組：適合完全不會或有一些基礎的人</li>
					<li>進階組：適合有實務經驗且想要更進階深入的人</li>
				</ul>
				兩個組別中各挑選一本書，若在閱讀的過程中不了解或不清楚，可以提出與大家一起討論。
			</p> 
		</blockquote>	
	</div>
	<div class="col-md-12">
		<h2>注意事項</h2>
		<blockquote>
			<ol>
				<li>沒有包場，所以晚來了可能會沒位置。</li>
				<li>自行攜帶筆電，建議先把電充飽(有插頭的位置不多)。</li>
				<li>店內有低消，可以順便來吃晚餐或是喝咖啡。</li>
				<li>您可以隨時來，也可以隨時離開。</li>
				<li>基本上不會太晚，伯朗咖啡10點打烊。</li>
			</ol>
		</blockquote>
	</div>
	<div class="col-md-12">
		<h2>你也可以</h2>
		<blockquote>
			<ol>
				<li>來問問題與大家一起討論。</li>
				<li>來展示你的成果或是作品。</li>
				<li>來聊天認識朋友交換名片。</li>
				<li>來聊聊想法或新奇的技術。</li>
			</ol>
		</blockquote>
	</div>
</div>
<div class="nav-panel">



	<p>
		<div class="row"> 
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail"> 
					<img src="http://im1.book.com.tw/image/getImage?i=http://www.books.com.tw/img/001/041/07/0010410726.jpg&w=170&h=240&v=48c118db" data-holder-rendered="true" style="height: 240px; width: 170px; display: block;"> 
					<div class="caption"> 
						<h3>JavaScript：優良部分</h3> 
						<p>大多數程式語言都包含好與不好的兩類成分，但 JavaScript 的後者似乎佔了不少比例，因為它是個開發與發表都很匆促、沒有時間精雕細琢的語言。這本權威書籍刮除了 JavaScript 中最可怕的功能，為大家呈現較為可靠、較可讀解、也較可維護的部分 JavaScript －－ 我們能用這部分功能建立真正具擴充性、又有效率的原始碼。</p> 
						<p>
							<a href="http://www.books.com.tw/products/0010410726" class="btn btn-primary" role="button" target="_blank">博客來</a> 
						</p> 
					</div> 
				</div> 
			</div> 
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail"> 
					<img src="http://im2.book.com.tw/image/getImage?i=http://www.books.com.tw/img/001/059/46/0010594680.jpg&v=51efacf9&w=170&h=240" data-holder-rendered="true" style="height: 240px; width: 170px; display: block;"> 
					<div class="caption"> 
						<h3>Effective JavaScript 中文版</h3> 
						<p>Effective JavaScript 是由 68 個經過驗證、能夠幫助你寫出更好的 JavaScript 程式碼的具體作法所構成，並輔以實例來闡述說明。你會學到如何為每個專案挑選適當的程式寫作風格、管理無法預料的問題，並以更良好的方式來處理 JavaScript 程式設計的各個面向，諸如資料結構或共時性（concurrency）。</p> 
						<p>
							<a href="http://www.books.com.tw/products/0010594680" class="btn btn-primary" role="button" target="_blank">博客來</a> 
						</p> 
					</div> 
				</div> 
			</div>
		</div>
	</p>

</div>
<div class="nav-panel">
	<div class="col-md-12">
		<h2>活動 coming soon !</h2>
	</div>
</div>
<link rel="stylesheet" href="css/bookclub.css" type="text/css" />
<script src="js/bookclub.js"></script>