<h2>時間</h2>
<blockquote>
	<p>
		固定週三晚上7點到9點(依個人時間)
	</p> 
	<small>確定日期會在網站上公布</small>
</blockquote>
<h2>地點</h2>
<blockquote>
	<p>
		伯朗咖啡科大店(台北市大安區忠孝東路三段52號)
	</p> 
	<small>捷運忠孝新生站3號出口(走路3分鐘)</small>
</blockquote>
<iframe src="https://www.google.com/maps/embed?pb=!1m22!1m8!1m3!1d1807.382267095061!2d121.53404366729704!3d25.042063773647364!3m2!1i1024!2i768!4f13.1!4m11!3e2!4m3!3m2!1d25.041812099999998!2d121.53356269999999!4m5!1s0x0%3A0x4bb263acc4f6c677!2zTVIuQlJPV07kvK_mnJflkpbllaHppKg!3m2!1d25.0417469!2d121.535305!5e0!3m2!1szh-TW!2stw!4v1468565622081" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>