<div class="carousel slide" id="carousel-694667">
	<ol class="carousel-indicators">
		<li class="active" data-slide-to="0" data-target="#carousel-694667">
		</li>
		<li data-slide-to="1" data-target="#carousel-694667">
		</li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img alt="Carousel Bootstrap First" src="images/index-1.jpg" />
			<div class="carousel-caption">
				<h4>
					台北前端社群
				</h4>
				<p>
					別一個人孤單的寫code
				</p>
			</div>
		</div>
		<div class="item">
			<img alt="Carousel Bootstrap Second" src="images/index-2.jpg" />
			<div class="carousel-caption">
				<h4>
					讀書會
				</h4>
				<p>
					我們定期舉辦讀書會活動
				</p>
			</div>
		</div>
	</div> <a class="left carousel-control" href="#carousel-694667" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-694667" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="col-md-12">
	<br>
	<p>
        <div class="jumbotron">
            <h2>哈囉，您好！</h2>
            <p>
                台北前端社群，非常歡迎您一起加入。<br>我們是一群熱愛前端技術的夥伴，定期舉辦讀書會活動。
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="/bookclub">詳情</a>
            </p>
        </div>
    </p>
</div>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-4">
			<h2>
				讀書會
			</h2>
			<p>
				定期舉辦讀書會活動絕不能錯過，也非常歡迎您一起來參加喔！
			</p>
			<p>
				<a class="btn" href="/bookclub">更多詳情 »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Facebook
			</h2>
			<p>
				馬上就加入我們在Facebook上的社群！
			</p>
			<p>
				<a class="btn" href="/facebook">更多詳情 »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Slack
			</h2>
			<p>
				隨時隨地都可在Slack上進行討論！
			</p>
			<p>
				<a class="btn" href="/slack">更多詳情 »</a>
			</p>
		</div>
	</div>
</div>	
<link rel="stylesheet" href="/css/index.css" type="text/css" />