<h2>slack</h2>

<h3>請先加入slack：<a href="https://f2e-taipei.herokuapp.com/" target="_blank">https://f2e-taipei.herokuapp.com/</a></h3>

<h3>已加入連結：<a href="https://f2e-taipei.slack.com" target="_blank">https://f2e-taipei.slack.com</a></h3>