<ul class="nav nav-tabs">
	<li>
		<a href="/bookclub">資訊</a>
	</li>
	<li>
		<a href="/bookclub/list">書單</a>
	</li>
	<li class="active">
		<a href="/bookclub/join">活動</a>
	</li>
</ul>
<p></p>
<div class="col-md-12">

    <h1>我們將會盡快審核，謝謝您的熱情參與！</h1>    
    
</div>